#about {
	position: relative;
	z-index: 2;
}

#about-title {
	font-family: "Didot";
	font-size: 42px;
}

#about-me {
	font-family: "Metropolis";
	width: 80%;
	margin-left: 8%;
	margin-right: 10%;
	padding: 50px;
}

.about-text {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20px;
	color: #3A3A3A;
}

.about-text a {
	color: rgb(130, 171, 227);
	text-decoration: none;
}

#fave-classes {
	font-family: "Metropolis";
	width: 80%;
}

#fave-classes li {
	line-height: 20px;
}

#faves-title {
	font-family: "Metropolis";
	font-size: 32px;	
}

@media only screen and (max-width: 900px) {
	#about {
		margin-top: 10%;
		margin-bottom: 10%;
	}

	#about-me {
		padding: 0px;
	}

	#about-title {
		text-align: center;
	}

	#faves-title {
		text-align: center;
	}

}