#about {
	height: 45vw;
	text-align: left;
	position: relative;
	z-index: 2;
}

#about-title {
	font-family: "Didot";
	font-size: 42px;
}

#about-me {
	font-family: "Futura";
	float: left;
	width: 40%;
	height: 280px;
	padding: 50px;
	background-color: rgba(247, 122, 100, .13);
	margin-bottom: 50px;
}

.about-text {
	margin-top: 20px;
	margin-bottom: 20px;
}

#fave-classes {
	font-family: "Futura";
	float: right;
	width: 45%;
	margin-top: 50px;
}

#fave-classes li {
	line-height: 30px;
}

#faves-title {
	font-family: "Didot";
	font-size: 32px;	
}

/* Tablet Styles */

@media only screen and (max-width: 1200px) {
	#about-me {
		height: 340px;
	}

}

@media only screen and (max-width: 800px) {
	#about-me {
		height: 270px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#fave-classes {
		display: none;
	}

}

@media only screen and (max-width: 600px) {
	#about-me {
		height: 270px;
		width: 100%;
		margin-left: -15%;
	}

	#fave-classes {
		display: none;
	}

}