body {
	margin: 0 !important;
	font-family: "Avenir";
    font-weight: 200;   
}

#about-pic {
	left: 0;
	width: 35%;
}

#about-description {
	float: right;
	width: 60%;
	margin-left: 5%;
}


@media only screen and (max-width: 800px) {
	.header {
		text-align: left;
	}

	#about-pic {
		width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	#about-description {
		width: 100%;
	}

}


