#projects {
  margin-left: 12%; 
  margin-right: 12%; 
  margin-bottom: 12%
}

#archive-projects {
	display: grid;
	grid-template-columns: repeat(3, 3fr);
  font-family: "Avenir";
}

#subtitle {
  font-family:'Tokyo-Outline';
  text-align: center;
  font-size: 64px;
  padding-top: 10%;
}

.year-title {
	padding-top: 15vh;
	padding-bottom: 4vh;
	font-size: 28px;
	letter-spacing: 2px;
}

.project-title {
	font-size: 24px;
}

.section {
  position: relative;
  display: block;
}

.section:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 24vw;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  cursor: pointer;
}

.archive-caption {
  color: white;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.archive-pic {
	cursor: pointer;
	display: block;
	width: 24vw;
	height: auto;
}

.mobile-caption {
  display: none;
}

@media only screen and (max-width: 800px) {
  #projects {
    width: 105%;
    margin-left: 3%;
    padding-top: 10%;
  }

	#archive-projects {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
	}

  .year-title {
    font-size: 35px;
    margin-left: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  #subtitle {
    font-size: 60px;
    text-align: left;
    margin-left: 5%;
  }

  .section {
    margin-bottom: 13%;
  }

  .overlay {
    display: none;
  }

  .archive-pic {
    height: 90vw;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    display: block;
  }

  .mobile-caption {
    display: block;
    color: black;
    margin-left: 5%;
    width: 85%;
  }

  .caption {
    display: block;
    margin-left: 22px;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 14px;
  }

  .proj-details {
    margin-bottom: 5px;
  }

  #button-wrapper {
    margin-bottom: 15%;
  }

}