body {
	margin: 0;
}

a {
	color: black;
}

#atlantis {
	display: inline-block;
}

.big-pic {
	background-color: #FEE469; 
	height: 500px; 
	width: 100%; 
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

.product-pic-medium {
	width: 47%;
	display: inline-block;
	margin: 1%;
	vertical-align: top;
}

.caption2 {
	font-size: 16px;
	width: 45%;
	float: right;
	margin-top: 5%;
	margin-bottom: 10%;
}

@media only screen and (max-width: 770px) {
	.big-pic {
		background-size: 100%;
	}

	.product-pic-medium {
		width: 100%;
		margin-left: 0px !important;
	}

	.caption2 {
		width: 100%;
	}

}