body {
	margin: 0;
} 

a {
	color: rgb(24,163,152);
}

#chutzpow {
	display: inline-block;
}

#secondary-pics {
	display: inline-block;
	margin-top: 3%;
}

.pics-2 { 
	width: 46%;
	margin-right: 3%; 
}

.text {
	width: 100%;
}

.last {
	width: 70%;
	display: inline-grid;
}

.pic-text-container {
	margin-bottom: 15%;
}

.med-pic {
	display: inline-block;
}

@media only screen and (max-width: 900px) {
	.pics-2 {
		width: 100%;
	}

	.last {
		width: 100%;
	}

	.med-pic {
		margin-bottom: 10px;
	}
}