#contact {
	background-color: rgba(130, 171, 227, .30);
}

#contact-title {
	font-family: "Didot";
	font-size: 52px;
	text-align: center;
}

#contact-text {
	margin-top: 30px;
	font-family: "Metropolis";
	font-size: 20px;
	text-align: center;
}

#social {
	margin-top: 30px;
	text-align: center;
}

.social-icon {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin: 15px;
}

#contact a {
	color: rgb(130, 171, 227);

}