body {
	font-family: "Avenir"
}

body a {
	text-decoration: none;
}

li {
	list-style-type: disc;
	list-style-position: inside;
	text-indent: -24px;
	margin-left: 8%;
}

#arrow-up {
	background-color: white;
	display: none;
	position: fixed;
	right: 8px;
	bottom: 8px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	z-index: 1;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.margin-small {
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
}

.margin-medium {
	position: relative;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}

.content {
	margin-top: 5%;
	margin-bottom: 5%;
	height: auto;
}

.page-title {
    padding-top: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 0;
	font-size: 40px;
	z-index: 1;
    text-align: center;
}

.project-info {
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
	text-align: center;
	letter-spacing: 2px;
	color: gray;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.project-info p {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

.summary {
	text-align: left;
}

.context-title {
	width: 100%;
	float: left;
	letter-spacing: 2px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: gray;
}

.context-summary {
	float: left;
	width: 63%;
	font-size: 18px;
}

.context-specifics {
	float: right;
	width: 30%;
	font-size: 16px;
	margin-bottom: 5px;
}

.context-subtitle {
	letter-spacing: 2px;
	margin-bottom: 5px;

	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: gray;
/*	font-weight: 300;
	font-size: 20px;*/
}

.context-description {
	margin-bottom: 15px;
}

.big-pic {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.section-title {
    width: 90%;
    margin: 5%;
    margin-left: 0;
    font-weight: 0;
	font-size: 40px;
	z-index: 1;
    text-align: left;
}

.process-title {
	margin-top: 6%;
	margin-bottom: 1%;
	font-weight: 500;
	font-size: 24px;
}

.panel {
	font-size: 16px;
	margin-bottom: 2%;
}

.next-project {
	width: 30%;
	height: 20px;
	text-align: center;
	padding: 5px;
	padding-top: 24px;
	padding-bottom: 24px;
	color: white;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 5%;
	margin-top: 5%;
	opacity: 1;
    -webkit-transition: opacity 0.6s; /* Safari */
    transition: opacity 0.6s;
}

.next-project:hover {
	opacity: 0.8;
    -webkit-transition: opacity 0.6s; /* Safari */
    transition: opacity 0.6s;
}

.fa-caret-right, .fa-caret-left {
	width: 20px;
	height: 20px;
}

.med-pic {
	width: 60%;
	float: left;
	margin-bottom: 10px;
}

.inner-text {
	float: right;
	width: 37%;
	margin-left: 3%;
}

.quote {
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 20px
}

@media only screen and (max-width: 700px) {
	.med-pic {
		width: 100%;
	}

	.inner-text {
		float: left;
		width: 100%;
		margin-left: 0%;
	}
	#arrow-up {
		width: 40px;
		height: 40px;
		background-color: #18A398;
		opacity: .8;
	}

	.page-title {
		padding-top: 20%;
		line-height: 34px;
		text-align: left;
		font-size: 30px;
	}

	.section-title {
		font-size: 50px;
		letter-spacing: 20px;	
	}

	.project-info {
		font-size: 12px;
		text-align: left;
		margin-right: 0;
		margin-left: 5%;
	}

	.context-summary {
		width: 100%;
		margin-bottom: 20px;
		font-size: 16px;
	}

	.next-project {
		width: 40%;
		font-size: 12px;
	}

	.margin-medium {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.context-specifics {
		width: 100%;
		font-size: 16px;
	}

	.context-subtitle, .context-title {
		font-size: 12px;
	}


}


