/* Font faces */

@font-face {
	font-family: "Metropolis-Light";
	src: url("fonts/Metropolis-Light.otf");
}

@font-face {
	font-family: "Metropolis";
	src: url("fonts/Metropolis-Regular.otf");
}

@font-face {
	font-family: "Metropolis-Thin";
	src: url("fonts/Metropolis-Thin.otf");
}

@font-face {
	font-family: "Tokyo";
	src: url("fonts/TokyoMerged-Regular.ttf");
}

@font-face {
	font-family: "Tokyo-Outline";
	src: url("fonts/TokyoOutline-Regular.ttf");
}

@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir.otf");

/* Table styles */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

/* Body */
body {
	font-family: "Avenir", "Arial", Sans-Serif;
}

body a {
	text-decoration: none;
}

/* Bulleted lists */
li {
	list-style-type: disc;
	list-style-position: inside;
	text-indent: -24px;
	margin-left: 8%;
}

/* Arrow scroll */
#arrow-up {
	background-color: white;
	display: none;
	position: fixed;
	right: 8px;
	bottom: 8px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	z-index: 1;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Margins */
.margin-small {
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
}

.margin-medium {
	width: 75%;
	margin-left: 15%;
	margin-right: 10%;
}

/* Project pages */
.content {
	margin-top: 5%;
	margin-bottom: 5%;
	height: auto;
}

.panel {
	font-size: 16px;
	margin-bottom: 2%;
}

.last {
	width: 100%;
	display: inline-grid;
}

/* Top section */
.page-title {
    padding-top: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 0;
	font-size: 40px;
	z-index: 1;
    text-align: center;
}

.project-info {
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
	text-align: center;
	letter-spacing: 2px;
	color: gray;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.project-info p {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

.summary {
	text-align: left;
}

.context-title {
	width: 100%;
	float: left;
	letter-spacing: 2px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: gray;
}

.context-summary {
	float: left;
	width: 63%;
	font-size: 18px;
}

.context-specifics {
	float: right;
	width: 30%;
	font-size: 16px;
	margin-bottom: 5px;
}

.context-subtitle {
	letter-spacing: 2px;
	margin-bottom: 5px;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: gray;
}

.context-description {
	margin-bottom: 15px;
}

/* Project pictures */
.big-pic {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 1px 1px 10px #BABABA;
}

.med-pic {
	box-shadow: 1px 1px 10px #BABABA;
	width: 60%;
	left: 0;
	margin-bottom: 10px;
	display: inline-block;
}

.product-pic-medium {
	width: 47%;
	display: inline-block;
	margin: 1%;
	vertical-align: top;
}

.pic-text-container {
	margin-bottom: 15%;
}

#secondary-pics {
	display: inline-block;
	margin-top: 3%;
}

.pics-2 { 
	width: 49%;
	box-shadow: 1px 1px 10px #BABABA;
}

.pics-3 {
	width: 32%;
	box-shadow: 1px 1px 10px #BABABA; vertical-align: top
}

.product-pic-small {
	width: 30%;
	margin-bottom: 50px;
	overflow: hidden;
	display: inline-block;
}

.product-pic-smaller {
	width: 28%;
	margin: 2%;
	display: inline-block;
	box-shadow: 1px 1px 10px #BABABA;
}

/* Titles */
.section-title {
    width: 90%;
    margin: 5%;
    margin-left: 0;
    font-weight: 0;
	font-size: 40px;
	z-index: 1;
    text-align: left;
}

.process-title {
	margin-top: 6%;
	margin-bottom: 1%;
	font-weight: 500;
	font-size: 24px;
}

/* Captions */
.inner-text {
	width: 35%;
	margin-left: 2%;
	left: 0;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10%;
}

.quote {
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 20px
}

.caption-large {
	width: 65%;
	margin-bottom: 30px;
}

.small-caption {
	float: left; 
	width: 40%; 
	margin-right: 5%;
}

.pic-with-caption {
	float: right; 
	width: 50%; 
	margin-left: 5%;
	margin-bottom: 5%;
}

.pic-caption {
	font-size: 10px;
}

/* Next button */
.next-project {
	width: 30%;
	height: 20px;
	text-align: center;
	padding: 5px;
	padding-top: 24px;
	padding-bottom: 24px;
	color: white;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 5%;
	margin-top: 5%;
	opacity: 1;
    -webkit-transition: opacity 0.6s; /* Safari */
    transition: opacity 0.6s;
}

.next-project:hover {
	opacity: 0.8;
    -webkit-transition: opacity 0.6s; /* Safari */
    transition: opacity 0.6s;
}

.fa-caret-right, .fa-caret-left {
	width: 20px;
	height: 20px;
}

@media only screen and (max-width: 1140px) {

	.inner-text {
		width: 45%;
	}

	.med-pic {
		width: 50%;
	}
}

@media only screen and (max-width: 800px) {
	.med-pic {
		width: 100%;
		display: block;
	}

	.product-pic-small {
		width: 50%;
		margin-bottom: 5px;
	}

	.caption-large {
		width: 100%;
		text-align: left;		
	}

	.inner-text {
		display: block;
		float: left;
		width: 100%;
		margin-left: 0%;
	}

	.product-pic-medium {
		width: 100%;
		margin-left: 0px !important;
	}

	#arrow-up {
		width: 40px;
		height: 40px;
		background-color: #0099ff;
		opacity: .8;
	}

	.page-title {
		padding-top: 20%;
		line-height: 34px;
		text-align: left;
		font-size: 30px;
	}

	.section-title {
		font-size: 50px;
		letter-spacing: 20px;	
	}

	.project-info {
		font-size: 12px;
		text-align: left;
		margin-right: 0;
		margin-left: 5%;
	}

	.context-summary {
		width: 100%;
		margin-bottom: 20px;
		font-size: 16px;
	}

	.next-project {
		width: 40%;
		font-size: 12px;
	}

	.margin-medium {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.context-specifics {
		width: 100%;
		font-size: 16px;
	}

	.context-subtitle, .context-title {
		font-size: 12px;
	}

	.product-pic-smaller {
		width: 100%;
		margin-top: 5%;
		margin-bottom: 5%;
		margin-left: 0%;
		margin-right: 0%;
	}

	.pic-with-caption {
		width: 100%;
	}

	.small-caption {
		width: 90%;
	}

}

 @media only screen and (max-width: 700px) {
	.pics-3 {
		width: 100%;
		margin-bottom: 20px;
	}

	.pics-2 {
		width: 100%;
	}


	.product-pic-small {
		width: 100%;
	}
}


