body {
	font-family: "Helvetica Neue"
}

#arrow-up {
	background-color: white;
	display: none;
	position: fixed;
	right: 8px;
	bottom: 8px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	z-index: 1;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.margin-small {
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
}

.margin-medium {
	position: relative;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}

.content {
	margin-top: 5%;
	margin-bottom: 5%;
	height: auto;
}

.page-title {
    padding-top: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 100;
    letter-spacing: 25px;
	font-size: 60px;
	z-index: 1;
    line-height: -90px;
    text-align: center;
}

.project-info {
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
	font-size: 20px;
	text-align: center;
	font-weight: 200;
	letter-spacing: 2px;
}

.project-info  a {
	text-decoration: none;
	color: #18A398;
}

.summary {
	text-align: left;
}

.context-title {
	width: 100%;
	float: left;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 26px;
	margin-bottom: 10px;
}

.context-summary {
	float: left;
	width: 63%;
	font-size: 18px;
}

.context-specifics {
	float: right;
	width: 30%;
	font-size: 16px;
}

.context-subtitle {
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 20px;
	margin-bottom: 5px;
}

.context-description {
	margin-bottom: 15px;
}

.big-pic {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.section-title {
	display: inline-table;
	width: 100%;
    font-weight: 100;
    letter-spacing: 20px;
	font-size: 60px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
}

.process-title {
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 40px;
}

.panel {
	font-size: 16px;
	margin-bottom: 2%;
}

.panel a {
	text-decoration: none;
	color: #18A398;
}

.next-project {
	width: 30%;
	height: 20px;
	text-align: center;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 18px;
	margin-bottom: 10px;
	cursor: pointer;
	margin-bottom: 5%;
	margin-top: 5%;
	opacity: 1;
    -webkit-transition: opacity 0.6s; /* Safari */
    transition: opacity 0.6s;
}

.next-project:hover {
	opacity: 0.8;
    -webkit-transition: opacity 0.6s; /* Safari */
    transition: opacity 0.6s;
}

@media only screen and (max-width: 700px) {
	#arrow-up {
		width: 40px;
		height: 40px;
		background-color: #18A398;
		opacity: .8;
	}

	.page-title {
		padding-top: 20%;
		font-size: 50px;
		letter-spacing: 15px;
	}

	.section-title {
		font-size: 50px;
		letter-spacing: 20px;	
	}

	.project-info {
		font-size: 22px;
	}

	.context-summary {
		width: 100%;
		margin-bottom: 20px;
	}

	.context-specifics {
		width: 100%;
	}

	.next-project {
		width: 40%;
		font-size: 14px;
	}

	.margin-medium {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.context-specifics {
		font-size: 14px;
	}

	.context-summary {
		font-size: 16px;
	}


}


