@media only screen and (max-width: 770px) {

    body {
        position: relative;
        width: 96%;
        margin: auto;
    }

    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h2 {
       font-size: 2.7rem; 
    }

    h3 {
       font-size: 1.3rem; 
    }

    .margin-medium {
    	margin-top: 10%;
    }

    /* Text Styles */
    .header {
    	font-size: 50px;
    	line-height: 48px;
    	width: 90%;
    	margin-left: 0%;
    	margin-right: 0%;
    	color: black !important;
    }

	.subheader {
		line-height: 36px;
		font-size: 38px;
	}

	.subheader-2 {
		font-size: .8em;
	}

	.subheader-3 {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.left {
		width: 100%;
	}

	.right {
		width: 100%;
        margin-left: 0;
	}

	.context-summary {
		width: 100%;
		margin-bottom: 20px;
		font-size: 18px;
	}

	.context-specifics {
		width: 100%;
		font-size: 18px;
	}
    
    .title-wrapper {
        padding-top: 20%;
        height: 100vh;
        position: relative;
    }

	.title {
		width: 100%;
		margin: 0%;
        display: block;
	}

    .full-width {
        display: inline-table;
    }
    
    .big-pic {
    	width: 90%;
        height: auto;
        margin: auto;
        position: initial;
        padding-top: 80%;
        display: none;
    }

    .triple-pics {
        width: 30%;
    }
    
    #pic-space {
        display: none;
    }

	.divider {
		margin-top: 3%;
		margin-bottom: 3%;
	}
    
    .panel {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        position: initial;
        display: inline-block;
    }
    
    #footer {
        margin-top: 13%;
    }

}