/* Font faces */

@font-face {
	font-family: "Kamryn";
	src: url("fonts/Kamryn.ttf");
}

@font-face {
	font-family: "Tokyo Outline";
	src: url("fonts/TokyoOutline-Regular.ttf");
}

@font-face {
	font-family: "Tokyo Regular";
	src: url("fonts/TokyoRegular-Regular.ttf");
}

@font-face {
	font-family: "DMSerif";
	src: url("fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir.otf");
}

@font-face {
	font-family: "Avenir Light";
	src: url("fonts/Avenir-Light.otf");
}

@font-face {
	font-family: "Avenir Medium";
	src: url("fonts/Avenir-Medium.otf");
}

@font-face {
	font-family: "Avenir Bold";
	src: url("fonts/Avenir-Bold.ttf");
}

@font-face {
	font-family: "Barlow Medium";
	src: url("fonts/Barlow/Barlow-Medium.ttf");
}

@font-face {
	font-family: "Barlow Bold";
	src: url("fonts/Barlow/Barlow-Bold.ttf");
}

@font-face {
	font-family: "Barlow Regular";
	src: url("fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
	font-family: "Barlow Extrabold";
	src: url("fonts/Barlow/Barlow-ExtraBold.ttf");
}



/* Table styles */
table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 5px;
}

/* Colors */
:root {
  --orange: #F29407;
  --purple: #a061d5;
  --green: #18b276;
  --pink: #FE7062;
  --mediumgray: #292929;
  --darkgray: #262626;
  --white: #fff;
  --lightpink: #e4ddde;
}

/* Body */
body {
	color: black;
	background-color: var(--white);
	width: 90%;
	margin: auto;
}

/* Links */
a {
	text-decoration: none;
	color: var(--purple);
	font-weight: 700;
}

a:focus {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

.subheader-2 a {
	text-decoration: none;
	border-bottom: 2px solid;
	display: inline-block;
}

/* Bulleted lists */
ul {
	list-style-position: outside; 
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: -15px;
}

ol li {
	list-style-type: decimal !important;
}

li {
	list-style-type: "→";
	font-family: "Barlow Regular";
	margin-top: 1vh;
	padding-left: 15px;
	font-size: 1.2rem;
	line-height: 1.5rem;

/*    background-image:  url(/personal-website/pics/arrow-right.svg);
    background-position: 0 0;
    background-size: 24px;
    background-repeat: no-repeat;*/
}

li a {
	margin-bottom: 3%;

}

::selection {
	background: var(--purple); /* WebKit/Blink Browsers */
	color: white;
}

::-moz-selection {
	background: rgb(233, 137, 137);; /* Gecko Browsers */
	color: white;
}

fieldset {
    border: none;
}

input {
    border: solid 2px var(--lightpink);
    height: 32px;
    width: 350px;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

input:focus {
    border: solid 2px var(--purple);
    outline: var(--purple);

    /*background-color: rgba(24, 178, 118, 0.05)*/
}

button {
	text-align: center;
	text-decoration: none;
	height: 56px;
	width: 200px;
	cursor: pointer;
	padding: 0;
    color: black;
    background-color: white;
/*    margin-top: 20px;*/
	font-family: "Barlow Bold";
	font-size: .9rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	border: 2px solid black;
	border-radius: 10px;
	transition: box-shadow .3s;
}

.secondary-btn {
    background-color: black;
    color: white;
  	transition: box-shadow .3s;

}

.secondary-btn:hover {
	box-shadow: 0 0 10px rgba(33,33,33,.6);
}

button:hover {
	box-shadow: 0 0 10px rgba(33,33,33,.6);
}

button:focus {
	box-shadow: 0 0 10px rgba(33,33,33,.6);
}

/* Arrow scroll */
#arrow-up {
	display: none;
	background-color: rgba(160, 97, 213, .5);
	position: fixed;
	/* position at bottom right of screen */
	right: 8px;
	bottom: 8px;
	height: 20px;
	width: 20px;
	padding: 10px;
	border-radius: 50%;
	font-size: 20px;
	color: black;
	text-align: center;
	/*box-shadow: 1px 1px 15px #e5e5e5;*/
	cursor: pointer;
	z-index: 6;
	-webkit-transition: background 200ms ease-in-out;
	-moz-transition: background 200ms ease-in-out;
	-o-transition: background 200ms ease-in-out;
	transition: background 200ms ease-in-out;
}

#arrow-up:hover {
	background-color: rgba(160, 97, 213, .9);
}

#arrow-down {
    height: 40px;
    width: 40px;
    font-size: 40px;
    text-align: left;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 5%;
    margin-bottom: 60px;
    z-index: 5;
    color: white;
}

/* Text Styles */
h1 {
	font-family: "Kamryn";
	font-size: 4rem;
	line-height: 4.2rem;
	margin-block-end: 0;
	margin-block-start: 0;
}

h2 {
	font-family: "Barlow Medium";
	font-size: 2rem;
	line-height: 3rem;
	padding-bottom: 5px;
	margin-block-end: 0;
	margin-block-start: 0;
}

h3 {
	font-family: "Barlow Regular";
	font-size: 1.5rem;
	padding-bottom: 5px;
	margin-block-end: 0;
	margin-block-start: 0;
}

h4 {
	font-family: "Barlow Bold";
	font-size: .9rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-block-end: 0rem;
	margin-block-start: 0rem;
}

p {
	font-family: "Barlow Regular";
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin-top: .25rem;
	margin-bottom: .5rem;
}

.p-XL {
	font-family: "Barlow Regular";
	font-size: 1.5rem;
	line-height: 1.7rem;
	margin-block-end: 0;
	margin-block-start: 0;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.space {
	height: 3vh;
}

.large-space {
	height: 8vh;
}

.left {
	float: left;
	width: 25%;
	margin-right: 5%;
	display: inline-block;
}

.right {
	width: 60%;
	margin-left: 20%;
	display: inline-block;
	top: 0;	
}



/* Project Pages */

.title-wrapper {
	width: 100vw;
	height: 80vh;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0px;
	display: flex;
}

.full-width {
	width: 100vw;
	height: 80vh;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	margin-bottom: 3%;
	margin-top: 80px;
}

.full-width-mid-page {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	margin-bottom: 5%;
	text-align: center; 
	color: white;
}

.mid-panel-text {
	width: 60%;
	padding-left: 20%; 
	padding-right: 20%;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}

.mid-panel-text-top {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 7%;
}

.background-panel-pic {
	width: 100vw; 
	padding: 0; 
	z-index: 1
}

.title {
	width: 45%;
	opacity: 0;
	display: inline-flex;
	align-items: center;
	padding-left: 10%;
	padding-right: 55%;
}

.home-title {
	width: 50%;
	display: inline-flex;
	align-items: center;
	padding-left: 25%;
	padding-right: 25%;
}

.context {
	opacity: 1 !important;
}

.context-summary {
	margin-bottom: 5%;
}

.context-specifics {
	width: 100%;
	display: inline;
}

.context-description {
	margin-right: 5%;
	margin-bottom: 3%;
	display: inline-block;
}

.last {
	width: 100%;
	display: inline-grid;
}

.short-divider {
	height: 5px;
	width: 100px;
	margin-top: 4%;
	margin-bottom: 3%;
	background-color: var(--darkgray);
	position: block;
}

.divider {
	height: 2px;
	background-color: var(--mediumgray); 
	margin-top: 3%;
	margin-bottom: 3%;
	width: 70%;
	margin-left: 15%;
	position: block;
}

#projects .divider {
	width: 100%;
	margin-left: 0;
}

.content {
	width: 60%;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	position: relative;
	display: inline-flex;
	opacity: 0;
	background-color: white;
}

.panel {
    width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	position: relative;
	display: inline-table;
}

.small-highlight {
	width: 100%;
	border-left: 5px solid var(--green);
	padding-left: 10px; 
}

.so-what {
	width: 90%;
	background-color: rgba(160, 97, 213, .2);
	border-left: 10px solid var(--purple);
	padding: 3%; 
	padding-bottom: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.quote {
	font-family: 'Chronicle Display Black';
	position: absolute; 
	font-size: 150px; 
	color: rgba(160, 97, 213, .4);
}

.gray {
	background-color: var(--darkgray);
}

/* Picture styles */
.big-pic {
	height: auto;
	width: 55%;
	display: inline-flex;
    right: 0;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#pic-space {
	width: 100%;
}

.pic-right {
	width: 100%; 
	margin-top: 20px; 
	margin-bottom: 20px;
}

.pic-left {
	width: 80%; 
	height: auto; 
	padding: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: inline-block;
}

.triple-pics {
	width: 29%; 
	margin: 1%;
	display: inline-block;
	vertical-align: top;
}

.dark {
	background-color: var(--darkgray); 
	width: 100%;
	padding: 0%;
}

.medium {
	background-color: var(--lightpink); 
	width: 100%;
	padding: 0%;
}

.fa-caret-right, .fa-caret-left {
	width: 20px;
	height: 20px;
}

/* Animation stuff */

.animate-reveal {
	opacity: 0;
	-webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
		 -moz-animation: reveal 1s ease-in 1 normal forwards;
			 -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
					animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
	-webkit-animation-delay: 0;
		 -moz-animation-delay: 0;
			 -o-animation-delay: 0;
					animation-delay: 0;
}

.animate-second {
	-webkit-animation-delay: 500ms;
		 -moz-animation-delay: 500ms;
			 -o-animation-delay: 500ms;
					animation-delay: 500ms;
}

.animate-third {
	-webkit-animation-delay: 1s;
		 -moz-animation-delay: 1s;
			 -o-animation-delay: 1s;
					animation-delay: 1s;
}

@-webkit-keyframes reveal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
			 -moz-transform: translateY(100%);
				 -o-transform: translateY(100%);
						transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
			 -moz-transform: translateY(0);
				 -o-transform: translateY(0);
						transform: translateY(0);
	}
}

@-moz-keyframes reveal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
			 -moz-transform: translateY(100%);
				 -o-transform: translateY(100%);
						transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
			 -moz-transform: translateY(0);
				 -o-transform: translateY(0);
						transform: translateY(0);
	}
}

@-o-keyframes reveal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
			 -moz-transform: translateY(100%);
				 -o-transform: translateY(100%);
						transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
			 -moz-transform: translateY(0);
				 -o-transform: translateY(0);
						transform: translateY(0);
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
			 -moz-transform: translateY(100%);
				 -o-transform: translateY(100%);
						transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
			 -moz-transform: translateY(0);
				 -o-transform: translateY(0);
						transform: translateY(0);
	}
}
