:root{
    --featured-color: #e98989;
}

body a {
    color: black;
}

#home {
	z-index: 4;
    height: 70vh;
    width: 100vw;
    background-color: var(--featured-color);
    position: relative; 
}

#intro {
    padding-left: 15%;
    padding-right: 15%; 
    padding-top: 5%;
}

#intro a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.subheader {
    margin-bottom: 20px;
}

.subheader-2 {
    margin-top: 10px;
}

#name {
    font-family: "Tokyo-Outline";
    color: white;
	font-size: 30px;
}

#location {
    margin-top: 10px;
    font-size: 18px;
    color: black;
}

#home-text-description {
    font-size: 32px;
    width: 75%;
    color: white;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

#arrow-down {
    display: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 7px;
    z-index: 5;
}

.margin-medium {
    margin-top: 8%;
}

/* View all button */
#view-all-btn {
    border: 1px solid black; 
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    height: 80px;
    letter-spacing: 2px;
    color: black
    -webkit-transition: background-color 0.8s; /* Safari */
    transition: background-color 0.8s;
    -webkit-transition: color 0.8s; /* Safari */
    transition: color 0.8s;
}

#view-all-btn:hover {
    background-color: black;
    color: white;
    -webkit-transition: background-color 0.8s; /* Safari */
    transition: background-color 0.8s;
    -webkit-transition: color 0.8s; /* Safari */
    transition: color 0.8s;
}

#button-wrapper {
    width: 100%; 
    text-align:center; 
    margin-bottom: 10%
}

@media only screen and (max-width: 900px) {

    #arrow-down {
        display: block;
        width: 50px;
        height: 50px;
    }

    #home {
        height: 100vh;
        text-align: left;
        position: relative;
    }

    #intro {
        padding: 0%;
        width: 85%;
        /* center that shit */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #home-text-description {
        width: 100%;
        font-size: 28px;
        margin-top: 5vh;
    }

    #name {
        font-size: 70px;
        line-height: 70px;
    }

    #location {
        margin-top: 8%;
        margin-bottom: 0%;
        font-size: 24px;
    }

    #button-wrapper {
        margin-bottom: 15%;
    }

}