body {
	margin: 0 !important;
    font-family: "Helvetica Neue";
    font-weight: 200;   
}

#home {
	z-index: 4;
    text-align: center;
}

#home-text {
    width: 70%;
	z-index: 1;
	position: relative;
    margin: auto;
}

#home-text-title {
    padding-top: 20%;
	position: relative;
	font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 25px;
	font-size: 50px;
	z-index: 1;
    line-height: 90px;
}

#home-text-description {
	font-family: "Helvetica Neue";
    font-weight: 180;
	font-size: 16px;
    text-align: left;
}

.padding-large {
	padding: 70px;
}

/* Tablet Styles */

@media only screen and (max-width: 650px) {
    .left {
        display: none;
    }

    #home-text-title {
        line-height: 70px;
        letter-spacing: 10px;
        padding-top: 30%;
        font-size: 60px;
        text-align: left;
        width: 75%;
        border-bottom: 10px solid #18A398;
    }

    #home-text-description2 {
        width: 100%;
        margin-left: 0px;
    }

    #home-text-description {
        margin-top: 30px;
        font-weight: 400;
    }

    #optional {
        display: none;
    }

}

/* Phone Styles */

@media only screen and (max-width: 500px) {
    #home-background {
        display: none;
    }

    #footer-flower {
        display: none;
    }

    #home-text {
    	text-align: center;
    	width: 80% !important;
    }
}