body {
	margin: 0;
}

a {
	color: #2E8FEA;
}

#miles {
	display: inline-block;
}

.product-video {
	margin-top: 5%;
	width: 100%;
	height: 50vw;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.table-link {
	display: none;
}

@media only screen and (max-width: 770px) {

	table {
		display: none;
	}

	.table-link {
		display: block;
	}

	.table-link a {
		text-decoration: none;
		color: #18A398;
	}
}