header {
	height: 110px;
	width: 100vw;
	top: 0;
	margin-left: -50vw;
	left: 50%;
	padding-top: 10px;
	position: fixed;
	z-index: 100;
	text-align: center;
	background-color: rgba(41, 41, 41, 0.9);
	transition: top 0.2s ease-in-out;
	text-align: center;
}

.nav-up {
	top: -120px;
	transition: top 0.2s ease-in-out;
}

.nav a {
	text-decoration: none;
}

.nav-logo {
	cursor: pointer;
	width: 60px;
	height: 60px;
    position: relative;
    margin-bottom: 15px;
}

#nav-items {
	
}

.nav-item {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	cursor: pointer;

    -webkit-transition: color 0.4s; /* Safari */
    transition: color 0.4s;
    position: relative;
    z-index: 2;
}

#home-nav a:before {
  content: '​';
}

.nav-item:hover {
	color: #6E88E2;
    -webkit-transition: color 0.4s; /* Safari */
    transition: color 0.4s;
}

.nav-item-home {
	margin: 20px;
	margin-top: 10px;
	text-transform: capitalize;
	display: inline-block;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
	color: black;
    -webkit-transition: color 0.4s !important; /* Safari */
    transition: color 0.4s !important;
    position: relative;
    z-index: 2;
}

.nav-item-home:hover {
	color: white !important;
    -webkit-transition: color 0.4s !important; /* Safari */
    transition: color 0.4s !important;
}

#hamburger {
	position: absolute;
	display: none;
	right: 20px;
	top: 35%;
	font-size: 24px;
	color: black;
	z-index: 15;
}

#nav-2 {
	float: right;
}

#footer {
    background-color: white;
    z-index: 5;
    position: relative;
}

#contact {
	width: 100%;
	padding-top: 13vh;
	padding-bottom: 13vh;
	background-color: #292929;
	display: inline-block;
	vertical-align: top;
	position: relative;
}


#contact .header {
	width: 20vw;
}

#contact p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.contact-text {
	width: 12vw;
	text-align: left;
	margin-left: 3vw;
	display: inline-block;
	vertical-align: top;
}

#social {
	font-weight: 300;
	margin-bottom: 30px;
	text-align: left;
}

#contact a {
	color: #F29407;
	text-decoration: none;
}

#copyright {
	position: absolute;
	bottom: 15px;
	vertical-align: bottom;
	color: #858585;
	font-size: 12px;
}

@media only screen and (max-width: 770px) {
	#contact {
		display: none;
	}
/*	#contact {
		text-align: center;
		z-index: 10;
	}

	.contact-text, #social, .contact-title {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		margin-bottom: 10vh;

	}*/
	#home-nav {
		display: none;
	}

	#my-nav {
		height: 60px;
		text-align: center;
	}

	#hamburger {
		display: block;
	}

	.nav-item {
		height: 60px;
		padding: 10px;
		width: 100%;
		font-size: 30px;
		margin: -1px;
		background-color: white;
	}

	#nav-items {
		margin-top: -800px;
	}

	.nav-item a {
		width: 100%;
	}

	.nav-logo {
		padding: 7px;
	}

	#home-nav-item {
		padding-top: 40px;
	}

	.padding-large {
		padding: 40px;
	}
}
