#my-nav {
	height: 48px;
	width: 100%;
	position: fixed;
	z-index: 3;
	text-align: right;
	border-bottom: #E3E3E3 1px solid;
	background-color: white;
}

#my-nav a {
	text-decoration: none;
}

.nav-colored a {
	color: black;
}

.nav-logo {
	margin: 15px;
	float: left;
	font-family: "Helvetica Neue";
	font-weight: 200;
	cursor: pointer;
    -webkit-transition: color 0.6s; /* Safari */
    transition: color 0.6s;
}

.nav-item {
	margin: 15px;
	display: inline-block;
	font-family: "Helvetica Neue";
	font-weight: 200;
	cursor: pointer;
    -webkit-transition: color 0.4s; /* Safari */
    transition: color 0.4s;
}

.nav-item:hover {
	color: #18A398;
    -webkit-transition: color 0.4s; /* Safari */
    transition: color 0.4s;
}

#hamburger {
	position: absolute;
	display: none;
	right: 20px;
	top: 40%;
	width: 30px;
	height: 30px;
}

@media only screen and (max-width: 800px) {
	#my-nav {
		height: 60px; 
	}

	#hamburger {
		display: inline-block;
	}

	.nav-item {	
		display: none;
		background-color: rgba(255, 255, 255, 0.9);
		color: black;
		height: 30px;
		margin: 0;
		padding-right: 30px;
	}

	.nav-logo {
		padding: 8px;
	}

	#home-nav-item {
		margin-top: 60px;
	}

	.padding-large {
		padding: 40px;
	}
}






