body {
	font-family: "Helvetica Neue";
	margin: 0;
}

#newstagram {
	display: inline-block;
}

#secondary-pics {
	display: inline-block;
	margin-top: 3%;
}

.pics-2 { 
	width: 49%;
	
}

.pics-3 {
	width: 32%;
	margin-right: 1%;
}

.wireframe {
	width: 100%;	
}

.last {
	width: 100%;
	display: inline-grid;
}

 @media only screen and (max-width: 700px) {
	.pics-3 {
		width: 90%;
		margin: 5%;
	}

	.pics-2 {
		width: 100%;
	}

	.page-title {
		font-size: 30px;
	}

	.project-info {
		font-size: 16px;
	}

} 