body {
	margin: 0;
}

a {
	color: #662C92;
}

#newstagram {
	display: inline-block;
}

 @media only screen and (max-width: 700px) {

	.header {
		font-size: 30px;
	}

	.subheader-2 {
		font-size: 16px;
	}

} 