body {
	font-family: "Helvetica Neue";
	margin: 0;
}

#newstagram {
	display: inline-block;
}

.big-pic {
	width: 100%;
	margin-top: 5%;
}

#secondary-pics {
	display: inline-block;
	margin-top: 3%;
}

.pics-3 {
	width: 32%;
	margin-right: 1%;
}