#projects {
	font-family: "Avenir";
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
}

/*#proj-1 {
	cursor: pointer;
	display: inline-block;
	float: left;
	width: 24vw;
	height: auto;
}

#proj-2 {
	cursor: pointer;
	display: inline-block;
	float: right;
	width: 24vw;
	height: auto;
	margin-bottom: 10%;
}*/

.section {
  position: relative;
}

.section:hover .overlay {
  opacity: 1;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 34vw;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
	cursor: pointer;
}

.archive-caption {
	color: white;
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.archive-pic {
	cursor: pointer;
	display: block;
	width: 34vw;
	height: auto;
}

#projects a {
	text-decoration: none;
	color: black;
}

.project-title {
	font-family: "Tokyo-Outline";
	font-size: 36px;	
	margin-bottom: 10px;
}

.proj-details {
	letter-spacing: 2px;
	margin-top: 5px;
	font-size: 12px;
	text-transform: uppercase;
}

.project {
	position: relative;
	height: 100vh;
}

#view-all-btn {
	border: 2px solid black; 
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	height: 80px;
	letter-spacing: 2px;
	color: black
    -webkit-transition: background-color 0.8s; /* Safari */
    transition: background-color 0.8s;
    -webkit-transition: color 0.8s; /* Safari */
    transition: color 0.8s;
}

#view-all-btn:hover {
	background-color: black;
	color: white;
    -webkit-transition: background-color 0.8s; /* Safari */
    transition: background-color 0.8s;
    -webkit-transition: color 0.8s; /* Safari */
    transition: color 0.8s;
}

a {
	color: black;
}

@media only screen and (max-width: 800px) {

	#projects {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.project {
		margin-bottom: 5%;
		height: 50vh;
	}

	.project-pic {
		height: 40vw;
		width: 40vw;
	}

	.caption {
		display: block;
		margin-left: 22px;
		margin-bottom: 22px;
		font-weight: 400;
		font-size: 14px;
	}

	.secondary-pic {
		width: 50vw;
		height: 50vw;
		margin-right: 1vh;
	}

}

@media only screen and (max-width: 600px) {

	#projects {
		width: 100%;
		margin-left: 0%;
	}

	.project {
		height: 110vh;
	}

/*	.project:first-child {
		height: 130vh;
	}*/

	.project-pic {
		width: 105vw;
		height: 105vw;	
	}

	.caption {
		margin-left: 5%;
		width: 95%;
	}

	#secondary-projects {
		height: 60vh;
		margin-left: 5%;
	}

	#secondary-title {
		margin-left: 5%;
	}
}